html {
  overflow: scroll;
  overflow-x: hidden;
}

.disable-scrollbar {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
.disable-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}
